# Enade DataSet

## Extraction

1. Steps:
    * Load libs
    * Make a directory
    * Download url (via requests)
    * Unzip
    * Check process

In [1]:
# Loading Libs
import pandas as pd
import numpy as np
import zipfile
import requests as r
from io import BytesIO
import os

url: str = "http://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip"
path: str = "../data/enade"

In [4]:
# Make a directory
os.makedirs(path, exist_ok=True)

# Download
file_bytes: BytesIO = BytesIO(r.get(url).content)
    
# Unzip
zipfile.ZipFile(file_bytes).extractall(path)

In [6]:
# Check downloaded file
file_path: str = path + '/microdados_enade_2019/2019/3.DADOS/microdados_enade_2019.txt'
df = pd.read_csv(file_path, sep=';', decimal=',')
df.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(df)

433930