# Trabalho Prático - Módulo 1

* Extraction Steps:
    1. Download and Unzip
    2. Data Analysis
    3. Filter according with rules
    4. Save csv

* Rules:
    1. Filter only MG people (doesn´t say which field).

* Practical job:
    1. Filter relevant features

In [21]:
import os
import requests as r
import zipfile
import pandas as pd
from io import BytesIO
from typing import List

url: str = 'http://download.inep.gov.br/microdados/microdados_enem_2019.zip'
path: str = '../data/enem'

# Extraction
## Download and Unzip

In [ ]:
# Check and create folder
os.makedirs(path, exist_ok=True)

# Download and Unzip
try:
    file_bytes: BytesIO = BytesIO(r.get(url).content)
    zipfile.ZipFile(file_bytes).extractall(path)
    print('Deu bom.')
except Exception as err:
    print(err)

In [ ]:
os.listdir(path)

## Data Analysis

In [ ]:
file_path: str = '../data/enem/DADOS/MICRODADOS_ENEM_2019.csv'
    
df = pd.read_csv(file_path, sep=';', encoding='ISO8859-1')
df.head()

In [ ]:
print('Dataframe samples: {} | Featues: {}'.format(df.shape[0], df.shape[1]))

In [ ]:
list(df.columns)

In [ ]:
# Check State features to filter
print('Alunos que Residem em MG: {}'.format(len(df[df.SG_UF_RESIDENCIA == 'MG'])))
print('Alunos que Nasceram em MG: {}'.format(len(df[df.SG_UF_NASCIMENTO == 'MG'])))
print('Alunos que Estudam em MG: {}'.format(len(df[df.SG_UF_ESC == 'MG'])))
print('Alunos que Fizeram Prova em MG: {}'.format(len(df[df.SG_UF_PROVA == 'MG'])))

## Filter Rules

In [ ]:
df_filtered = df.loc[df.SG_UF_RESIDENCIA == 'MG'].copy()
df_filtered.shape

In [ ]:
df_filtered.to_csv(path + '/filtered_data.csv', sep=';', index=False, encoding='utf-8')

# Transform

## Filter Relevant Features

NU_NOTA_MT
NU_NOTA_LC
NU_NOTA_CH

TP_SEXO
TP_LINGUA (1)
NO_MUNICIPIO_RESIDENCIA

IN_SURDEZ (1)
IN_DISLEXIA (1)

Q021
Q016 (C)
Q002 (G)
Q005 (1)
Q001 (G)
Q006 (M)

In [2]:
df = pd.read_csv(path + '/filtered_data.csv', sep=';', encoding='utf-8')
df.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001005671,2019,3170206,Uberlândia,31,MG,21,M,1,1,...,B,A,A,D,A,A,D,B,B,B
1,190001009861,2019,3111705,Canaã,31,MG,20,M,1,1,...,A,A,A,B,A,A,C,A,A,A
2,190001021622,2019,3104007,Araxá,31,MG,24,M,1,2,...,A,A,A,C,B,A,C,A,A,B
3,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,1,1,...,B,A,B,B,A,A,D,A,D,B
4,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,1,3,...,A,A,A,B,B,A,C,A,B,A

In [4]:
# Q1 Qual é a média da nota em matemática de todos os alunos mineiros?
round(df.NU_NOTA_MT.mean(), 1)

546.8

In [5]:
# Q2 Qual é a média da nota em Linguagens e Códigos de todos os alunos mineiros?
round(df.NU_NOTA_LC.mean(), 1)

531.2

In [6]:
# Q3 Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO mineiros?
round(
    df.loc[
        df.TP_SEXO == 'F'
    ]['NU_NOTA_CH'].mean()
, 1)

515.1

In [7]:
# Q4 Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO?
round(
    df.loc[
        df.TP_SEXO == 'M'
    ]['NU_NOTA_CH'].mean()
, 1)

529.7

In [8]:
# Q5 Qual é a média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Montes Claros?
round(
    df.loc[
        (df.TP_SEXO == 'F') &
        (df.NO_MUNICIPIO_RESIDENCIA == 'Montes Claros')
    ]['NU_NOTA_MT'].mean()
, 1)

525.5

In [18]:
# Q6 Qual é a média da nota em Matemática dos alunos do município de Sabará que possuem TV por assinatura na residência?
round(
    df.loc[
        (df.NO_MUNICIPIO_RESIDENCIA == 'Sabará') &
        (df.Q021 == 'B')
    ]['NU_NOTA_MT'].mean()
, 1)

543.3

In [44]:
# Q7 Qual é a média da nota em Ciências Humanas dos alunos mineiros que possuem dois fornos micro-ondas em casa?
round(
    df.loc[
        (df.Q016 == 'C')
    ]['NU_NOTA_CH'].mean()
, 1)

557.3

In [20]:
# Q8 Qual é a nota média em Matemática dos alunos mineiros cuja mãe completou a pós-graduação?
round(
    df.loc[
        (df.Q002 == 'G')
    ]['NU_NOTA_MT'].mean()
, 1)

620.0

In [22]:
# Q9 Qual é a nota média em Matemática dos alunos de Belo Horizonte e de Conselheiro Lafaiete?
cities: List = ['Belo Horizonte', 'Conselheiro Lafaiete']
round(
    df.loc[
        (df.NO_MUNICIPIO_RESIDENCIA.isin(cities))
    ]['NU_NOTA_MT'].mean()
, 1)

578.0

In [26]:
# Q10 Qual é a nota média em Ciências Humanas dos alunos mineiros que moram sozinhos?
round(
    df.loc[
        (df.Q005 == 1)
    ]['NU_NOTA_CH'].mean()
, 1)

534.5

In [27]:
# Q11 Qual é a nota média em Ciências Humanas dos alunos mineiros cujo pai completou Pós graduação e possuem renda familiar entre R$ 8.982,01 e R$ 9.980,00.
round(
    df.loc[
        (df.Q001 == 'G') & 
        (df.Q006 == 'M')
    ]['NU_NOTA_CH'].mean()
, 1)

586.7

In [32]:
# Q12 Qual é a nota média em Matemática dos alunos do sexo Feminino que moram em Lavras e escolheram “Espanhol” como língua estrangeira?
round(
    df.loc[
        (df.TP_SEXO == 'F') & 
        (df.NO_MUNICIPIO_RESIDENCIA == 'Lavras') &
        (df.TP_LINGUA == 1) 
    ]['NU_NOTA_MT'].mean()
, 1)

510.8

In [33]:
# Q13 Qual é a nota média em Matemática dos alunos do sexo Masculino que moram em Ouro Preto?
round(
    df.loc[
        (df.TP_SEXO == 'M') & 
        (df.NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto')
    ]['NU_NOTA_MT'].mean()
, 1)

555.1

In [36]:
# Q14 Qual é a nota média em Ciências Humanas dos alunos surdos?
round(
    df.loc[
        (df.IN_SURDEZ == 1)
    ]['NU_NOTA_CH'].mean()
, 1)

435.4

In [37]:
# Q15 Qual é a nota média em Matemática dos alunos do sexo FEMININO, que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?
cities: List = ['Belo Horizonte', 'Sabará', 'Nova Lima', 'Betim']
round(
    df.loc[
        (df.TP_SEXO == 'F') & 
        (df.NO_MUNICIPIO_RESIDENCIA.isin(cities)) &
        (df.IN_DISLEXIA == 1) 
    ]['NU_NOTA_MT'].mean()
, 1)

582.2