In [1]:
import pandas as pd

In [7]:
path = "../data/books.json"

'../data/books.json'

In [14]:
with open(path, 'r') as file:
    tmp = file.readlines()

In [17]:
df = pd.DataFrame.from_dict(tmp, orient='columns')

In [18]:
df.head()

                                                   0
0  { "_id" : 1, "title" : "Unlocking Android", "i...
1  { "_id" : 2, "title" : "Android in Action, Sec...
2  { "_id" : 3, "title" : "Specification by Examp...
3  { "_id" : 4, "title" : "Flex 3 in Action", "is...
4  { "_id" : 5, "title" : "Flex 4 in Action", "is...